* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

html {
  font-size: 62.5%;
}
body video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -3;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
    z-index: -2;
}
.container {
  width: 100%;
  height: 100vh;
  background: transparent;
  display: grid;
  place-items: center;
}

.card-wrapper {
  width: 50rem;
  height: 70rem;
  padding: 0 10rem;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.card {
  width: 30rem;
  height: 55rem;
  background: #eee;
  border-radius: 2.5rem;
  
  position: relative;
}


.card::after, .card::before{
    
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-image : conic-gradient(#0a3d6b,#ffe599,#000000,#a35d15,#cc0000);
    border-radius: 2.5rem;
    z-index: -1;
    padding: 3px;
    border-radius: 2rem;
    animation : 3s spin linear infinite;
}


.card::before{
    filter : blur(2rem);
}

.card-top {
  width: 100%;
  height: 50%;
  background: #f1ae04;
  padding: 3rem;
  border-radius: 2.5rem 2.5rem 0 0;
  transition: background 0.5s;
}

.container.change .card-top {
  background: #d35246;
}

.logo {
  width: 8rem;
  margin-bottom: 2rem;
  top: 0;
  left: -1rem;
}

.card-top-text {
  color: #fff;
}

.card-top-text h1 {
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.card-top-text p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.imgs img{
    filter: drop-shadow(0 0 0.75rem rgb(250, 248, 248));
}
.shinigami1 {
  width: 30rem;
  position: absolute;
  top: -3rem;
  right: -10rem;
  transition: transform 1s;
}

.container.change .shinigami1 {
  transform: translateX(-50rem) rotateZ(45deg);
}

.shinigami2 {
  width: 33rem;
  position: absolute;
  top: -3rem;
  right: -50rem;
  transition: transform 1s;
}

.container.change .shinigami2 {
    transform: translateX(-40rem);
}

.card-bottom {
  width: 100%;
  height: 50%;
  padding: 2rem 3rem;
  border-radius: 0 0 2.5rem 2.5rem;
  background-color: #000000;
}

.container.change .card-bottom {
  background-color: #54ddef;
}
.card-bottom h1 {
   font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffffff;
  margin-bottom: 0.6rem;
}

.badge {
  position: absolute;
  top: 30rem;
  right: 5rem;
  width: 3.5rem;
  height: 1.6rem;
  background: #25d390;
  color: #fff;
  display: grid;
  place-items: center;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.card-bottom h3 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
    color: #ffffff;
}

.stars {
  margin-bottom: 3rem;
  color: #ffffff;
}

.stars i:last-child {
  opacity: 0.4;
}

.level {
  margin-bottom: 3rem;
    
}

.level h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1.3rem;
    color: #ffffff;
}

.levels {
  display: flex;
}

.levels span {
  font-size: 1.3rem;
  margin-right: 2.5rem;
  color: #ffffff;
}

.sizes span:nth-child(3) {
  width: 2rem;
  height: 2rem;
  background-color: #25d393;
  color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.color h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
    color: #ffffff;
}

.colors {
  display: flex;
}

.color-1,
.color-2 {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.color-1 {
  background: #ffffff;
  margin-right: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(28, 71, 122, 0.2);
}
.container.change .color-1 {
  background: #000000;
  box-shadow: 0 1rem 2rem rgba(192, 34, 68, 0.3);
}

.color-2 {
  background: #54ddef;
  box-shadow: 0 1rem 2rem rgba(192, 34, 68, 0.3);
}
.container.change .color-2 {
  background: #ffffff;  
}

.price {
  width: 16rem;
  height: 4rem;
  background: #dc1a1a;
  color: #fff;
  border-radius: 0.5rem;
  position: absolute;
  right: -1rem;
  bottom: 3rem;
  box-shadow: 0 1rem 2rem rgba(182, 49, 31, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
}


.price span {
  font-size: 2rem;
}

.price span:first-child {
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 1rem;
}

.price span:last-child {
  font-weight: bold;
}
